@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 0.03em;
  width: 100vw;
  height: 100vh;

  font-family: Roboto;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}
